*{
    margin: 0px;
    padding: 0px;
}
.test
{
    color: blue;
    cursor: pointer;
    /* cursor: url("https://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2015/4/21/1429629869293/d8e257bb-a76d-49e7-989a-39e07196a915-2060x1236.jpeg"),auto; */
}